@media (min-width: 500px) {
  body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
  }
  .body {
    width: 70vw;
    margin-top: 5rem;
  }
  .info-container {
    text-align: center;
    .home-btn {
      position: relative;
      width: 20%;
      text-align: center;
    }
  }
}
@media (min-width: 768px) {
  .body {
    width: 50vw;
  }
}
