$primary-colour: #d4a373;
$secondary-colour: #ccd5ae;
$secondary-colour-light: #fefae0;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster", cursive;
  letter-spacing: 1.5px;
  a {
    color: black;
    text-decoration: none;
  }
}
.info {
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.info-container {
  margin: 5rem 1rem;
  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    margin: 1.3rem 0;
    font-weight: bold;
  }
  .copy {
    font-size: 0.6rem;
  }
  .icon-credit {
    font-style: italic;
  }
}
.home {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.1rem 0.5rem;
  background-color: $primary-colour;
  border-radius: 15px;
}
body {
  background: $secondary-colour;
  display: flex;
  flex-direction: column;
}

.main-container {
  //   border: 1px solid red;
  display: inline-block;
  flex-direction: column;
  margin: auto;
  padding: 0.5rem auto;
  justify-content: center;
}
h1 {
  margin-top: 2rem;
  padding: 0 1rem;
  text-align: center;
  font-size: 3rem;
}
.container {
  //   border: 1px solid pink;
  margin: 1rem;
  h2 {
    margin: 2rem 0 1rem 0;
    font-size: 1.7rem;
  }
  input {
    padding: 0.3rem;
    margin-bottom: 0.7rem;
    border: 1px solid $primary-colour;
    border-radius: 5px;
    background-color: $secondary-colour-light;
    font-size: 1.2rem;
    width: 60%;
  }
  span {
    font-style: italic;

    font-size: 1rem;
  }
  button {
    padding: 0.3rem;
    border: 1px solid $primary-colour;
    border-radius: 5px;
    width: 40%;
    font-weight: bold;
    background-color: $primary-colour;
    font-size: 1.2rem;
  }
}
